.navbar {
    background-color: rgb(26, 23, 23);
    height: 80px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  
  .navcontainner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 80px;
    /* max-width: 1500px; */
  }
.cart-icon{
  margin-right: 3%;
   display: flex;
   justify-content: center;
   align-items: center;
    color: #fff;
    /* padding-left: 43%; */
    /* align-items: center; */
    /* margin-left: 20px; */
    cursor: pointer;
    /* text-decoration: none;*/
    font-size: 2rem;
    /* flex-grow: 1;  */
}
.cart-no{
   font-size: 18px;
   color: rgb(26, 23, 23);
   font-weight: bold;
   background-color: #fff;
   padding:0px 3px 0px 3px;
   
   border-radius: 100%;


}

.nav-cart{
  color: #fff;
  display: none;
    line-height: 40px;
    margin-left: 1rem;
  
  
}
.nav-cart:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}
.nav-cart:hover:after {
  width: 100%;
  background: #ffdd40;
}
.nav-logo {
  /* margin-left: -5%; */
   display: flex;
   justify-content: center;
   align-items: center;
    color: #f5b921;
    /* padding-left: 43%; */
    align-items: center;
    /* margin-left: 20px; */
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    /* margin-right: 2rem; */
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding-left: 0.5rem ;
    height: 100%;
    border-bottom: 3px solid transparent;
  }

  .nav-item {
    line-height: 40px;
    margin-left: 1rem;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  .nav-item:hover:after {
    width: 100%;
    background: #ffdd40;
  }
  .nav-icon {
    display: none;
  }

  
  @media screen and (max-width: 960px) {
    .nav-cart .active {
      color: #ffdd40;
      border: none;
     line-height: 40px;
     margin-left: 1rem; 

    }
    .nav-cart{
      padding: 1.5rem;
      width: 30%;
      display: table;
    }
    .cart-icon{
      display: none;
    }
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1pxsolid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #3D3C3A;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      
    }
    .nav-item .active {
      color: #ffdd40;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-60%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #ffdd40;
    }
  }